doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Happy Birthday Lissa
        link(href="style.css" rel="stylesheet")
        link(rel="icon" href="images/head.svg")
        script(src="birthday-leopard.js" defer)
    body
        main.ground
            .art(role="image" aria-describedby="A leopard peeks from behind a bush, text reads: Happy Birthday Lissa")
                img.bush-left-svg(src="images/bush-left.svg")
                .clip-leopard
                    .leopard
                        img.leopard-body-svg(src="images/body.svg")
                        .leopard-head 
                            img.leopard-head-svg(src="images/head.svg")
                img.bush-right-svg(src="images/bush-right.svg")
